<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b7bfc0">  <td>18/06/25 15:02:01</td>   <td>0</td> <td title="&gt;&gt;Trial1DataFromXl.removeAllFiles()[pri:0, instance:com.cloudleaf.restapicalls.Trial1DataFromXl@675d3402]">&gt;&gt;removeAllFiles</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@32017212</td>   <td></td> </tr>
<tr bgcolor="b7bfc0">  <td>18/06/25 15:02:02</td>   <td>655</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Trial1DataFromXl.cloudleafFlow(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.cloudleaf.restapicalls.Trial1DataFromXl@675d3402]">cloudleafFlow</td> 
  <td>main@32017212</td>   <td></td> </tr>
<tr bgcolor="b7bfc0">  <td>18/06/25 15:02:02</td>   <td>669</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Trial1DataFromXl.cloudleafFlow(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.cloudleaf.restapicalls.Trial1DataFromXl@675d3402]">cloudleafFlow</td> 
  <td>main@32017212</td>   <td></td> </tr>
<tr bgcolor="b7bfc0">  <td>18/06/25 15:02:02</td>   <td>675</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Trial1DataFromXl.cloudleafFlow(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.cloudleaf.restapicalls.Trial1DataFromXl@675d3402]">cloudleafFlow</td> 
  <td>main@32017212</td>   <td></td> </tr>
</table>
