<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6e8eef">  <td>18/06/20 15:28:37</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GEData.geData()[pri:0, instance:com.cloudleaf.restapicalls.GEData@9629756]">geData</td> 
  <td>main@1580893732</td>   <td></td> </tr>
<tr bgcolor="f97bb5">  <td>18/06/20 15:28:45</td>   <td>7377</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MagnaData.magnaData()[pri:0, instance:com.cloudleaf.restapicalls.MagnaData@62ee68d8]">magnaData</td> 
  <td>main@1580893732</td>   <td></td> </tr>
<tr bgcolor="b7bfc0">  <td>18/06/20 15:28:30</td>   <td>-7041</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OrangeData.orangeData()[pri:0, instance:com.cloudleaf.restapicalls.OrangeData@396a51ab]">orangeData</td> 
  <td>main@1580893732</td>   <td></td> </tr>
</table>
